body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    gap: 10px;


}

#textBox {
    color: white;

}

.card-container {
    margin: 0;
    position: relative;
    width: 360px;
    height: 550px;
    perspective: 1000px;
    
}

.the-card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    border-radius: 10px;



}

.front-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    backface-visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    

}

.front-card-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.easy-level-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;


}

.easy-header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.easy-card-space {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;    
   

}

.easy-card-wrapper {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;


}

.upper-easy-card-wrapper {
    height: 50%;
    
    display: flex;
    
}

.lower-easy-card-wrapper {
    height: 50%;
    display: flex;
    justify-content: center;
   


}

.lower-easy-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-easy-box {
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-card-container,.right-card-container, .lower-card-container {
    margin: 0;
    position: relative;
    width:60%;
    height: 80%;
    perspective: 1000px;

}

.left-card-easy,.right-card-easy,.lower-card-easy {
   
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    border-radius: 10px;

}

.left-card-back, .right-card-back,.lower-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(188, 4, 4);
    backface-visibility: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;

}

.left-card-front, .right-card-front, .lower-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px black solid;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.right-easy-box {
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.score-footer {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
}

.score-footer h1 {
    margin-right: 10px;

}

.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(188, 4, 4);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-design {
    width: 90%;
    height: 90%;
    border: rgb(248, 211, 2) solid 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold-diamond {
    height: 150px;
    width: 150px;
    background-color: rgb(248, 211, 2);
    transform: rotate(45deg);

}



.title {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;


}

.title h3,h1 {
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
}

.title h1 {
    font-size: 60px;



}

.title h3 {
    font-size: 25px;
    font-weight: 800;


}

.diamond-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

#diamondBtn {
    width: 150px;
    height: 150px;
    background-color: #cc0c0c;
    transform: rotate(45deg);


}

.score-wrapper {
    height: 25%;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.score-wrapper h1 {
    margin-right: 10px;

}




@media(max-width: 650px) {
    .card-container {
        width: 310px;
        height: 500px;
    }

    .title h1 {
        font-size: 45px;
    }
    
    .title h3 {
        font-size: 21px;
    }

    #diamondBtn {
        width: 130px;
        height: 130px;
        
    }

    .gold-diamond {
        width: 130px;
        height: 130px;

    }

    .easy-card-wrapper {
        height: 270px;
        width: 260px;


    }



 
  


}



























